/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: grey;
    padding: 5px;
    font-size: 21px;
    border: none;
    cursor: pointer;
    border-bottom: 1px #D3D3D3 dotted;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #D3D3D3;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 16px;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.topheading{
    text-align:center !important;
    color:#47ae32 !important;
}

.textSentence{
     text-align:center !important;
}

#issue-list ul {
    list-style-type: none;
};

#issue-list {
    height: 4em;
    overflow: auto;
    margin:1ex;
}
.fixed {
    position: fixed;
}
.headImage{
    display: block;
    margin-left: auto;
    margin-right: auto;

.text-center {
    text-align: center;
}

#radar-chart {
    margin: 0 auto;
}